@charset "utf-8";


@mixin respond-to($min,
$max) {
	@if $min==none {
		@media (max-width: $max - 1) {
			@content;
		}
	}
	@else if $max==none {
		@media (min-width: $min) {
			@content;
		}
	}
	@else {
		@media (min-width: $min) and (max-width: $max - 1) {
			@content;
		}
	}
}

@mixin respond-from($min, $max){
	@if $min == none{
		@media (max-width: $max - 1) {
			@content;
		}
	} @else if $max == none{
		@media (min-width: $min) {
			@content;
		}
	} @else{
		@media (min-width: $min) and (max-width: $max - 1) {
			@content;
		}
	}
}

@mixin transform($transformation) {
	transform: $transformation;
	-webkit-transform: $transformation;
	-moz-transform: $transformation;
	-ms-transform: $transformation;
	-o-transform: $transformation;
}


@mixin text-align($rule, $breakpoint, $fallback) {
	text-align: $rule;
	@include respond-to(max, $breakpoint) {
		text-align: $fallback;
	}
}

@mixin btn($bgc, $color, $lighting: 'darken', $ammount: 4,
$padding: 6px 20px) {
	@if $bgc != 'none' { background-color: $bgc; }
	@if $color != 'none' { color: $color; }
	@if $padding != 'none' { padding: $padding }
	&:hover, &:focus{
		@if($lighting == 'darken'){
			@if $bgc != 'none' { background-color: darken($bgc, $ammount); }
			@if $color != 'none' { color: darken($color, $ammount/2); }
		}
		@if ($lighting == 'lighten'){
			@if $bgc != 'none' { background-color: lighten($bgc, $ammount); }
			@if $color != 'none' { color: lighten($color, $ammount/2); }
		}
	}
}

@function rem($px) {
	@return ($px / 16px)+rem;
}

@mixin clearfix() {
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

@function css-function($function, $values...) {
	@return $function+unquote('(')+$values+unquote(')');
}

@function css-min($values...) {
	@return css-function(min, $values);
}

@function css-max($values...) {
	@return css-function(max, $values);
}

@import "veriables";


%container-padding {
	padding-left: $outline-pad-sm;
	padding-right: $outline-pad-sm;

	@include respond-from($device-sm, none){
		padding-left: $outline-pad-md;
		padding-right: $outline-pad-md;
	}

	@include respond-from($device-md, none){
		padding-left: $outline-pad;
		padding-right: $outline-pad;
	}
}

%outline{
	&:before, &:after {
		position: absolute;
		top: 0;
		bottom: 0;
		content: '';
		width: 1px;
		background-color: $outline-color;
		z-index: 1000;
	}

	&:before {
		left: $outline-pad;
	}

	&:after {
		right: $outline-pad;
	}
	@include respond-from(none, $device-md){
		&:before {
			left: rem(30px);
		}
		&:after {
			right: rem(30px);
		}
	}
	@include respond-from(none, $device-sm){
		&:before {
			left: rem(15px);
		}
		&:after {
			right: rem(15px);
		}
	}
}

%no-outline{
	&:before, &:after {
		content: none;
	}
}

%gradient-blue {
	background: rgb(0, 74, 151);
	background: linear-gradient(180deg, rgba(0, 74, 151, 1) 0%, rgba(8, 12, 125, 1) 100%);
}
