//fonts
$font-p: 'Sailec-Regular', sans-serif;
$font-h: 'Sailec-Light', sans-serif;
$font-d: 'Sailec-Medium', sans-serif;

//colors
$theme-color: #004A97;
$secondary-color: #C5508B;
$text-color: #202330;
$text-light: #848484;
$bg-color: #F5F6FA;
$bg-dark: #EAEBF1;
$outline-color: rgba(#D8D8D8, 0.3);

$danger: #E53844;
$warning: #E9B93F;
$success: #57C973;

$spacing-unit: 30px;

// $devices
$device-xs: 480px;
$device-sm: 768px;
$device-md: 992px;
$device-lg: 1200px;
$device-xl: 1600px;

$navbar-height: 110px;

//margin bottom classs
$mb-classes: 0, 10, 15, 20, 25, 30, 40, 50, 60;

$outline-pad-lg: rem(70px);
$outline-pad-md: rem(30px);
$outline-pad-sm: 15px;
$outline-pad: $outline-pad-lg;
