<!DOCTYPE html>
<html lang="en"{% if isProd != true %} class="dev"{% endif %}>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>{% if title %}{{ title + ' | ' + appName }}{% else %}{{ appName }}{% endif %}</title>
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/lib.css">
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/main.css">
	{% block styles %} {% endblock %}
</head>
<body{% if bodyClass %} class="{{ bodyClass }} no-js"{% endif %}>
{% include "partials/navigation.njk" %}
{% block content %} {% endblock %}
{% include "partials/footer.njk" %}
<script>
	var sitebaseUrl = '{{ baseUrl }}';
</script>
<script src="{{ baseUrl }}/assets/js/lib.js"></script>
<script src="{{ baseUrl }}/assets/js/main.js"></script>
{% block afterScripts %}
{% endblock %}
</body>
</html>
