/* -----------------------
      html
----------------------- */

html {
	-webkit-font-smoothing: antialiased;
	font-size: 100%;

	@include respond-from($device-md, $device-lg) {
		font-size: 97%;
	}

	@include respond-to($device-sm, $device-md) {
		font-size: 94%;
	}

	@include respond-to(none, $device-sm) {
		font-size: 92%;
	}
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
hr,
dl,
dd,
ol,
ul,
figure {
	margin: 0;
	padding: 0;
}

/**
 * Basic styling
 */

body {
	font-family: $font-p;
	color: $text-color;
	-webkit-text-size-adjust: 100%;
	-webkit-font-feature-settings: "kern" 1;
	-moz-font-feature-settings: "kern" 1;
	-o-font-feature-settings: "kern" 1;
	font-feature-settings: "kern" 1;
	font-kerning: normal;
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
ul,
ol,
dl,
figure,
%vertical-rhythm {
	margin-bottom: $spacing-unit / 2;
}

/**
 * Lists
 */

ul,
ol {
	margin-left: $spacing-unit;
}

li {
	> ul,
	> ol {
		margin-bottom: 0;
	}
}

/**
 * Headings
 */

/* h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
} */

/**
 * Links
 */

a {
	color: $theme-color;
	text-decoration: none;

	&:visited {
		color: darken($theme-color, 15%);
	}

	&:hover {
		color: $text-color;
		text-decoration: underline;
	}
}

body {
	font-family: $font-p;
	font-size: rem(16px);
	color: $text-color;
}

h1, h2, h3, h4, h5, h6 {
	font-family: $font-h;
	color: $text-color;
}

h1,
.h1 {
	font-size: rem(36px);
	letter-spacing: rem(0.5px);
}

h2,
.h2 {
	font-size: rem(34px);
	color: $theme-color;
}

h3, .h3 {
	font-size: rem(24px);
}

h4, .h4 {
	font-size: rem(20px);
}

h5,
.h5 {
	font-size: rem(17px);
}

h6, .h6 {
	font-size: rem(14px);
}

.container-fluid {
	@extend %container-padding;
	max-width: 1920px;
	margin: 0 auto;
}

.navbar {
	@extend %container-padding;
	background: transparent !important;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: rem(100px);
	z-index: 888;
	&:after{
		position: absolute;
		left: $outline-pad;
		right: $outline-pad;
		content: '';
		height: 1px;
		bottom: 1px;
		background: rgba(#fff, 0.18);

	}

	.container-fluid{
		padding-left: rem(30px);
		padding-right: rem(30px);
	}

	.navbar-nav {
		margin-left: 0;
		.nav-item {
			font-size: rem(14px);
		}
		.nav-link {
			color: #FFFFFF;
			padding: rem(5px) rem(10px);
		}
	}

	@include respond-from(none, $device-md){
		$outline-pad: rem(30px);
		&:after{
			left: $outline-pad;
			right: $outline-pad;
		}
	}
	@include respond-from(none, $device-sm){
		$outline-pad: rem(15px);
		&:after{
			left: $outline-pad;
			right: $outline-pad;
		}
	}
}

.footer{
	//$border-color: rgba(#D8D8D8, 0.5);
	&.sec{
		padding-top: 0;
		padding-bottom: 0;
	}

	background-color: #000;
	color: #909090;
	font-size: rem(14px);
	letter-spacing: rem(0.67px);
	line-height: rem(20px);
	a{
		color: #fff;
	}
	&-nav{
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
		padding: 30px 40px 15px;
		border-bottom: 1px solid $outline-color;
		ul{
			display: flex;
			flex-flow: row wrap;
			text-align: center;
			justify-content: center;
			list-style: none;
			margin: 0 auto 15px;
		}
		&__left{
			a{
				display: inline-block;
				padding: 2px 10px;
				color: #DEEAF8;
			}
			&-title{
				width: 100%;
				padding: 2px 0;
			}
		}
		&__right{
			li{
				width: 100%;
				a{
					display: inline-block;
					padding: 2px 10px;
					margin: 0 10px;
					color: inherit;
				}
				&:last-of-type{
					border-right: 0;
					a{
						margin-right: 0;
					}
				}
			}
		}
	}
	&__rights{
		padding: 15px;
		ul{
			display: flex;
			flex-flow: column;
			align-items: center;
			text-align: center;
			justify-content: center;
			list-style: none;
			margin: 0;
			li{
				padding: 2px 10px;
				a{
					color: inherit;
				}
				&:last-of-type{
					border-right: 0;
				}
			}
		}
	}
	@include respond-from($device-xs, none){
		&-nav{
			ul{
				justify-content: flex-start;
			}
			&__left{
				&-title{
					margin-right: 10px;
					width: auto;
				}
			}
			&__right{
				margin-right: -10px;
				li{
					width: auto;
					border-right: 1px solid $outline-color;
				}
			}
		}

	}
	@include respond-from($device-sm, none){
		&-nav{
			ul{
				margin-left: 0;
				margin-right: 0;
			}
		}

		&__rights{
			ul{
				flex-flow: row;
				li{
					border-right: 1px solid $outline-color;
				}
			}
		}
	}
}
