.sec {
	position: relative;
	padding-top: 60px;
	padding-bottom: 60px;

	@extend %outline;

	&-header {
		text-align: center;

		h1 {
			margin-bottom: 20px;
		}
	}

	&-banner {
		background-position: center center;
		background-size: cover;
	}
}

.seg-15 {
	padding-left: 15px;
	padding-right: 15px;
}

.breadcrumb {
	background-color: transparent;
	margin-left: 0;
	font-size: rem(10px);
	color: #FFFFFF;
	text-align: center;
	line-height: rem(16px);
	padding: 0;

	li {
		a {
			display: inline-block;
			padding: 5px;
			color: inherit;
		}

		&:after {
			content: '/';
		}

		&:last-of-type::after {
			content: none;
		}
	}
}

.o-form {
	border-top: 1px solid $outline-color;
	margin-bottom: 30px;

	::placeholder {
		font-size: rem(20px);
		color: rgba(#FFFFFF, 0.6);
	}

	select {
		&:invalid {
			color: rgba(#fff, 0.6);
		}
	}

	label {
		display: block;
		font-size: rem(14px);
		color: #FFFFFF;
		margin-bottom: 3px;
	}

	input,
	textarea,
	select {
		display: block;
		background: none;
		border: 0;
		width: 100%;
		min-width: 210px;
		border-radius: 0;
		color: #fff;
		font-size: rem(18px);
	}

	select {
		option {
			color: #000;
		}
	}

	button[type=submit] {
		padding: 10px 24px;
		color: #fff;
		background-color: #DD0000;
		border: 0;
	}

	&__row {
		display: flex;
		flex-flow: row wrap;
		border-left: 1px solid $outline-color;
	}

	&__col {
		flex: 1;
		padding: rem(15px);
		border-right: 1px solid $outline-color;
		border-bottom: 1px solid $outline-color;
	}

	&__pad {
		text-align: center;
		padding: 30px;
	}

	@include respond-from($device-sm, none) {
		&__col {
			padding: 15px 30px;
		}

	}
}

.banner-slider {
	$c: '.banner-slider';

	padding: 0;

	@extend %no-outline;

	.outline {
		@extend %outline;
	}

	#{$c}__item {
		height: 100vh;

		/*background-position: center center;
		background-size: cover;*/
		img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&:after {
		content: '';
		position: absolute;
		left: rem(70px);
		right: rem(70px);
		bottom: rem(70px);
		height: 1px;
		top: auto;
		width: auto;
		background-color: rgba(#fff, 0.18);
		z-index: 888;
	}

	@include respond-from(none, $device-md) {
		&:after {
			left: rem(30px);
			right: rem(30px);
		}

		/*#{$c}__item{
			background-size: 118vh;
		}*/
	}

	@include respond-from(none, $device-sm) {
		&:after {
			left: rem(15px);
			right: rem(15px);
		}
	}
}

.l-banner {
	position: relative;
	background-size: cover;
	background-position: center center;
	padding: 0;

	h1 {
		font-size: rem(80px);
		color: #FFFFFF;
		text-align: center;
		text-shadow: 0 2px 4px rgba(0, 0, 0, 0.11);
	}

	.container-fluid {
		min-height: 400px;
		padding-top: 150px;
		padding-bottom: 50px;
		display: flex;
		flex-flow: column;
		align-items: center;
		justify-content: center;
	}
}

.l-links {
	display: flex;
	flex-flow: row wrap;
	padding-top: 10px;
	align-items: center;
	justify-content: center;
	border-bottom: 1px solid #E5E5E5;

	a {
		padding: 12px 10px 10px;
		display: inline-block;
		border-bottom: 2px solid transparent;

		&:hover {
			text-decoration: none;
			background-color: #f2f2f2;
		}
	}

	&__item {
		margin: 0 5px;

		&.active {
			a {
				color: #DD0000;
				border-color: #DD0000;
			}
		}
	}

	@include respond-from($device-sm, none) {
		padding-top: 0;
		a {
			padding: 17px 15px 15px;
		}
	}
	@include respond-from($device-lg, none) {
		a {
			padding: 22px 20px 20px;
			margin-bottom: -1px;
		}
	}
}

.stay-social {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	width: $outline-pad;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 999;
	opacity: 0.7;
	color: #fff;

	ul {
		list-style: none;
		margin: 0;
		text-align: center;
	}

	&__rotate {
		transform: rotate(-90deg);
		width: 200px;
		position: absolute;
		left: -65px;
		text-align: left;
		z-index: -1;
	}

	ul {
		display: flex;
		flex-flow: column-reverse wrap;
		padding-bottom: 20px;

		li {
			a {
				color: #fff;
			}
		}
	}

	@include respond-from(none, $device-md) {
		$outline-pad: rem(30px);
		width: $outline-pad;

		&__rotate {
			width: rem(180px);
			left: rem(-75px);
		}
	}

	@include respond-from(none, $device-sm) {
		$outline-pad: rem(15px);
		width: $outline-pad;
		display: none;
	}
}

@keyframes in-top {
	from {
		transform: translate(0, -100%);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes in-left {
	from {
		transform: translate(-100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes in-right {
	from {
		transform: translate(100%, 0);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes in-bottom {
	from {
		transform: translate(0, 100%);
	}

	to {
		transform: translate(0, 0);
	}
}

@keyframes out-top {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(0, -100%);
	}
}

@keyframes out-left {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(-100%, 0);
	}
}

@keyframes out-right {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(100%, 0);
	}
}

@keyframes out-bottom {
	from {
		transform: translate(0, 0);
	}

	to {
		transform: translate(0, 100%);
	}
}
