@each $font-face in 'Sailec-Light', 'Sailec-Medium', 'Sailec-Regular' {
	@font-face {
		font-family: $font-face;
		font-style: normal;
		font-weight: normal;
		font-display: swap;
		src: url('../fonts/#{$font-face}/#{$font-face}.woff2') format('woff2'),
		url('../fonts/#{$font-face}/#{$font-face}.woff') format('woff');
	}
}

@import "../mixing",
  "_base",
  "_layout",
  "components/article";
