{% extends "layouts/default.njk" %}
{% set title = 'About Us' %}
{% set bodyClass = 'p-about' %}
{% set activeTab = 'group' %}

{% block styles %}
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/about.css">
{% endblock %}

{% block content %}

	<section class="sec l-banner" style="background-image: url('{{ baseUrl }}/assets/images/about/banner-img.jpg')">
		{% include "partials/stay-social.njk" %}
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li>
					<a href="#">HOME</a>
				</li>
				<li>
					<a href="#">ABOUT</a>
				</li>
				<li>
					<a href="#">Grup Structure</a>
				</li>
			</ul>
			<h1 class="l-banner__title">About Us</h1>
		</div>
	</section>
	<section class="sec s-ab-overview">
		<div class="container-fluid">
			{% include "partials/about-tabnav.njk" %}
		</div>
	</section>
	<section class="sec group-structure">
		<div class="group-structure__grid">
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-1.jpg');"></div>
					<h1>The Group</h1>
					<p>Over the years, the company has diversified its offerings to complement the complete needs of a workplace. In line with this, the Group has expanded to include specialized companies in each sector that can cater to individual or total solution needs of every corporate and corporation.</p>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-2.jpg');"></div>
					<h3>Metropolitan<br/> Office (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-3.jpg');"></div>
					<h3>Metropolitan<br/> Computers (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-4.jpg');"></div>
					<h3>Metropolitan Advance Technology (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-5.jpg');"></div>
					<h3>Metro Dynamics (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-6.jpg');"></div>
					<h3>Metropolitan PhotoHub (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-7.jpg');"></div>
					<h3>Metropolitan Communications (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-8.jpg');"></div>
					<h3>Metropolitan Air Conditioning &amp; Refrigeration (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-9.jpg');"></div>
					<h3>Metropolitan Engineering (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-10.jpg');"></div>
					<h3>Metropolitan Telecom Services (Pvt) Ltd</h3>
				</div>
			</div>
			<div class="group-structure__box">
				<div class="group-structure__box-content">
					<div class="group-structure__thumb" style="background-image: url('{{ baseUrl }}/assets/images/about/gs-thumb-11.jpg');"></div>
					<h3>Metropolitan Property Holdings &amp; Investments (Pvt) Ltd</h3>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
