{% extends "layouts/default.njk" %}
{% set title = 'About Us' %}
{% set bodyClass = 'p-about' %}
{% set activeTab = 'overview' %}

{% block styles %}
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/about.css">
{% endblock %}

{% block content %}

	<section class="sec l-banner" style="background-image: url('{{ baseUrl }}/assets/images/about/banner-img.jpg')">
		{% include "partials/stay-social.njk" %}
		<div class="container-fluid">
			<ul class="breadcrumb">
				<li>
					<a href="#">HOME</a>
				</li>
				<li>
					<a href="#">ABOUT</a>
				</li>
				<li>
					<a href="#">OVERVIEW</a>
				</li>
			</ul>
			<h1 class="l-banner__title">About Us</h1>
		</div>
	</section>
	<section class="sec s-ab-overview">
		<div class="container-fluid">
			{% include "partials/about-tabnav.njk" %}
			<div class="s-ab-overview__ov">
				<div class="row">
					<div class="col-lg-5 offset-lg-2 s-ab-overview__ov-desc">
						<h3>Overview</h3>
						<p>Active in Sri Lanka for five decades, the Group is one of the foremost business houses in the Country. It
							is today, a diversified Organization engaged in different spheres of business activity. The core objective
							is driven towards excellence in customer service, bound by a common set of values, linked across the
							entire Organization. The primary source of the Group’s strength and dynamism is its human resources
							factor. The Group provides ‘state of the art’ technology and delivers exceptional service quality.</p>
					</div>
					<div class="col-lg-3">
						<div class="s-ab-overview__ov-img"
								 style="background-image: url('{{ baseUrl }}/assets/images/about/building.jpg')"></div>
					</div>
				</div>

			</div>
		</div>
		<div class="s-ab-overview__vision">
			<div class="s-ab-overview__vision">
				<div class="s-ab-overview__vision-img"
						 style="background-image: url('{{ baseUrl }}/assets/images/about/vision-img.jpg')"></div>
				<div class="s-ab-overview__vision-text">
					<div class="vision">
						<h3>Vision</h3>
						<p>A Metropolitan solution in every Place of Work.</p>
					</div>

					<div class="mission">
						<h3>Mission</h3>
						<p>We offer Work Place and Personal Productivity solutions and services, that exceed customer expectations
							and unparalleled marketing capabilities to our business partners whilst providing our Staff the
							opportunity for personal advancement with performance based recognition and rewards.</p>
					</div>

					<div class="facts">
						<h6>QUICK FACTS</h6>
						<ul>
							<li>
								<div class="facts__item">
									<div class="facts__number">
										<span class="facts__count">10</span>+
									</div>
									<div class="facts__text">major sectors
										served
									</div>
								</div>
							</li>
							<li>
								<div class="facts__item">
									<div class="facts__number">
										<span class="facts__count">20</span>+
									</div>
									<div class="facts__text">world top
										brands
									</div>
								</div>
							</li>
							<li>
								<div class="facts__item">
									<div class="facts__number">
										<span class="facts__count">34</span>
									</div>
									<div class="facts__text">showrooms
										islandwide
									</div>
								</div>
							</li>
							<li>
								<div class="facts__item">
									<div class="facts__number">
										<span class="facts__count">62</span>
									</div>
									<div class="facts__text">years in the business</div>
								</div>
							</li>
							<li>
								<div class="facts__item">
									<div class="facts__number">
										<span class="facts__count">600</span>+
									</div>
									<div class="facts__text">‘m-powered’ employees</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec s-ab-values">
		<div class="container-fluid">
			<h2>Our Values</h2>
			<div class="s-ab-values__grid">
				<div class="s-ab-values__grid-item">
					<div class="s-ab-values__box">
						<h3>Teamwork is our Credo </h3>
						<p>We are Metropolitan. We respect and support each other in everything we do. We take ownership of all
							tasks both as a team and individually and are accountable to see them through to completion. When we take
							up a task, consider it done.</p>
					</div>
				</div>
				<div class="s-ab-values__grid-item">
					<div class="s-ab-values__box">
						<h3>Respond with a sense of Urgency</h3>
						<p> At Metropolitan we anticipate the needs of our customers, channel members, business partners, staff and
							other stakeholders and respond with a sense of urgency to fulfill their needs. </p>
					</div>
				</div>
				<div class="s-ab-values__grid-item">
					<div class="s-ab-values__box">
						<h3>When we win, so do our Partners</h3>
						<p> We are committed to foster win-win partnerships with our customers, business partners, channel members,
							staff and all other stakeholders. Mutual benefit, trust, honesty and care are the cornerstones of these
							long-term partnerships</p>
					</div>
				</div>
				<div class="s-ab-values__grid-item">
					<div class="s-ab-values__box">
						<h3>Perfection is our Hallmark</h3>
						<p> We benchmark best practices in every sphere of our business and strive to attain new standards through
							development of competencies and continuous improvement of processes.</p>
					</div>
				</div>
				<div class="s-ab-values__grid-item">
					<div class="s-ab-values__box">
						<h3>Our Success is based on how
						Innovative we are</h3>
						<p> The environment and our customer’s needs keep changing. We respond to these changes with innovative
						solutions. Innovation help us deliver extraordinary value and keep us well ahead of competition.</p>
					</div>
				</div>
				<div class="s-ab-values__grid-item">
					<div class="s-ab-values__box">
						<h3>A Passion to Win</h3>
						<p> We are passionate about winning responsibly. Our spirit is indomitable. We never give up. </p>
					</div>
				</div>
			</div>
		</div>

	</section>

{% endblock %}
