{% extends "layouts/default.njk" %}
{% set title = 'Home' %}
{% set bodyClass = 'p-home' %}

{% block styles %}
	<link rel="stylesheet" href="{{ baseUrl }}/assets/css/home.css">
{% endblock %}

{% block content %}
	<section class="sec banner-slider">
		{% include "partials/stay-social.njk" %}
		<div class="owl-carousel">
			<div class="banner-slider__item">
				<picture>
					<source media="(max-width: 921px)" srcset="{{ baseUrl }}/assets/images/home/banner-62-m.jpg">
					<source media="(min-width: 992px)" srcset="{{ baseUrl }}/assets/images/home/banner-62.jpg">
					<img src="{{ baseUrl }}/assets/images/home/banner-62.jpg" alt="">
				</picture>
			</div>
		</div>
	</section>
	<section class="sec s-deliver-technology">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<div class="s-deliver-technology__text-box">
						<img src="{{ baseUrl }}/assets/images/logo-big.png" class="mw-100" alt="">
						<h2>Delivering Technology Across Generations</h2>
						<p>Active in Sri Lanka for five decades, the Group is one of the foremost business houses in the Country. It
							is today, a diversified Organization engaged in different spheres of business activity. The core objective
							is driven towards excellence in customer service, bound by a common set of values, linked across the
							entire Organization.</p>

						<p>The primary source of the Group's strength and dynamism is its human resources factor. The Group provides
							"state of the art" technology and delivers exceptional service quality.</p>
						<a href="#">Read more <i class="fa fa-long-arrow-right"></i></a>
					</div>
				</div>
				<div class="col-md-6">
					<div class="s-deliver-technology__img-box">
						<div class="s-deliver-technology__links">
							<ul>
								<li>
									<a href="#">THE GROUP <i class="fa fa-long-arrow-right"></i></a>
								</li>
								<li>
									<a href="#">HISTORY <i class="fa fa-long-arrow-right"></i></a>
								</li>
								<li>
									<a href="#">STRUCTURE <i class="fa fa-long-arrow-right"></i></a>
								</li>
								<li>
									<a href="#">DIRECTORS <i class="fa fa-long-arrow-right"></i></a>
								</li>
								<li>
									<a href="#">BRANCH NETWORK <i class="fa fa-long-arrow-right"></i></a>
								</li>
							</ul>
						</div>
						<div class="s-deliver-technology__img"
								 style="background-image: url('{{ baseUrl }}/assets/images/home/building.jpg')">
							<img src="" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec s-sectors" style="background-image: url('{{ baseUrl }}/assets/images/home/sectors-bg.jpg')">
		<div class="container-fluid">
			<div class="s-sectors__title">
				<h1>Sectors</h1>
			</div>
			<div class="s-sectors__wrap">

				<div class="s-sectors__grid">
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Imaging & Printing</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab animi iusto laudantium quisquam quod.
										Accusamus accusantium deleniti dignissimos doloremque dolorum eius et laborum neque pariatur
										recusandae rerum, tempora, temporibus, ullam.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Information Technology</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto delectus laborum maiores
										neque odio optio pariatur, repellendus similique voluptatem? Eligendi minima odio totam. Blanditiis
										labore quae quam sapiente veritatis.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Communication</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, accusamus aperiam asperiores assumenda
										commodi consectetur consequuntur cupiditate delectus esse exercitationem inventore iusto laudantium
										maiores neque optio velit vero voluptate voluptatibus?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Public, Private Partnerships</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis dolore earum eos esse eveniet
										facere fuga fugiat in inventore itaque laudantium maxime quis recusandae sit sunt, totam veniam
										veritatis voluptate.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Power & Energy</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis ipsa iure necessitatibus porro
										voluptas. Asperiores debitis, est harum minima modi numquam saepe ullam ut. Eveniet optio quas
										quidem.
										Itaque, provident.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Building Management</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur eius explicabo, harum id
										incidunt ipsam molestiae nobis quae repellendus. Autem cumque debitis deleniti, eaque magni minima
										nihil odio quod suscipit?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Air-conditioning & Refrigeration</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium adipisci amet architecto
										dolore
										et eum in incidunt laboriosam, laudantium nesciunt nostrum possimus quas qui, quo quod reprehenderit
										sint tempora! Excepturi?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Photography</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aliquid beatae eaque enim
										explicabo illo ipsum maxime nisi optio pariatur placeat quibusdam ratione rem, reprehenderit rerum,
										sunt unde voluptate.</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Communication</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Blanditiis doloribus eius error harum hic
										itaque nam, nihil recusandae similique, tempora, tenetur vero. Aspernatur, consequatur harum
										nesciunt
										nobis quisquam ratione soluta?</p>
								</div>
							</div>
						</div>
					</div>
					<div class="s-sectors__item">
						<div class="s-sectors__item-bg"></div>
						<div class="s-sectors__item-wrap">
							<div class="s-sectors__item-info">
								<div class="s-sectors__item-head">
									<p>Communication</p>
								</div>
								<div class="s-sectors__item-desc">
									<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias aliquam aliquid autem beatae
										doloribus eos id, ipsum quibusdam sed soluta totam unde! Illum, quasi sint? Ipsa officia saepe ullam
										vel!</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec s-our-brands">
		<div class="container-fluid">
			<div class="sec-header">
				<h1>Our Brands</h1>
			</div>
			<div class="s-our-brands__slider">
				<div class="owl-carousel">
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-1.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-2.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-3.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-4.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-5.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-6.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-7.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-8.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-9.png" alt=""></div>
					<div class="item"><img src="{{ baseUrl }}/assets/images/home/brand-logo-10.png" alt=""></div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec s-propositions">
		<div class="container-fluid">
			<div class="s-propositions__header">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 col-md-12 offset-md-0">
						<div class="seg-15">
							<h1>Value Propositions</h1>
							<p>At Metropolitan we look to find solutions for every place of work and as such for more than 60-years we
								have been continually listening to the needs of customers which has enabled us to be the chosen partner
								among the top industry leaders in an increasing digitally driven economy. We understand that our
								customer’s needs are unique and as such our commitment to these customers in terms of our value
								proposition should be flexible as well.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="s-propositions__row row">
				<div class="s-propositions__col col-md-6">
					<div class="s-propositions__para">
						<h5>Business to Business</h5>
						<p>In terms of our commitment to this segment, our partners are assured of well qualified manufacturer
							trained and experienced teams in mechanical, electrical, and control systems. Be it 24X7 service for
							generator breakdowns or dedicated personnel for regional support and more a tailor-made solution is
							available to all our partners.</p>
					</div>
					<ul class="s-propositions__list">
						<li>
							<div class="s-propositions__list-img">
								<img src="{{ baseUrl }}/assets/images/home/icon-nation.png" alt="">
							</div>
							<p>Nationwide Support</p>
						</li>
						<li>
							<div class="s-propositions__list-img">
								<img src="{{ baseUrl }}/assets/images/home/icon-puzzle.png" alt="">
							</div>
							<p>Nationwide Support</p>
						</li>
						<li>
							<div class="s-propositions__list-img">
								<img src="{{ baseUrl }}/assets/images/home/icon-rating.png" alt="">
							</div>
							<p>Proven Track-record</p>
						</li>
					</ul>
				</div>
				<div class="s-propositions__col col-md-6">
					<div class="s-propositions__para">
						<h5>Business to Customer</h5>
						<p>Our consumer and retail segment consumers are served through our nationwide branch network and especially
							our specialized retail showroom, the mCentres. Each centre offers products and services backed with a
							trusted Metropolitan warranty and an experienced technical team to serve the after sales needs. In
							addition, our factory trained technicians, through software systems to manage machines in field guarantee
							on the spot service and support at all times.</p>
					</div>
					<ul class="s-propositions__list">
						<li>
							<div class="s-propositions__list-img">
								<img src="{{ baseUrl }}/assets/images/home/icon-nation.png" alt="">
							</div>
							<p>Nationwide Support</p>
						</li>
						<li>
							<div class="s-propositions__list-img">
								<img src="{{ baseUrl }}/assets/images/home/icon-puzzle.png" alt="">
							</div>
							<p>Nationwide Support</p>
						</li>
						<li>
							<div class="s-propositions__list-img">
								<img src="{{ baseUrl }}/assets/images/home/icon-rating.png" alt="">
							</div>
							<p>Proven Track-record</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section class="sec s-milestone">
		<div class="container-fluid">
			<div class="s-milestone__row">
				<div class="s-milestone__col">
					<div class="s-milestone__slider">
						<h2>Milestones</h2>
						<ul class="s-milestone__slider-nav">
							<li>
								<a href="#">View all</a>
							</li>
							<li class="owl-prev">
								<i class="fa fa-arrow-left"><span class="sr-only">Previous</span></i>
							</li>
							<li class="owl-next">
								<i class="fa fa-arrow-right"><span class="sr-only">Next</span></i>
							</li>
						</ul>
						<div class="owl-carousel">
							<article class="article article--s1">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s1-thumb-1.png')"></div>
									</div>
									<div class="article-info">
										<h6>Total Passenger Baggage Handling Solution</h6>
										<p>Total Passenger Baggage Handling Solution {BHS} for Departure & Arrival Terminals at Bandaranaike
											International Airport…</p>
									</div>
								</a>
							</article>
							<article class="article article--s1">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s1-thumb-2.png')"></div>
									</div>
									<div class="article-info">
										<h6>National Smart Card Based Driver’s Licence</h6>
										<p>National Smart Card Based Driver’s Licence Project was implemented as a BOT contract for
											Department
											of
											Motor Traffic under Ministry…</p>
									</div>
								</a>
							</article>
							<article class="article article--s1">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s1-thumb-3.png')"></div>
									</div>
									<div class="article-info">
										<h6>Colombo City CCTV Surveillance Solution</h6>
										<p>Colombo City CCTV Surveillance Solution for SL Police under Ministry of Defense, Supply…</p>
									</div>
								</a>
							</article>
							<article class="article article--s1">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s1-thumb-1.png')"></div>
									</div>
									<div class="article-info">
										<h6>Total Passenger Baggage Handling Solution</h6>
										<p>Total Passenger Baggage Handling Solution {BHS} for Departure & Arrival Terminals at Bandaranaike
											International Airport…</p>
									</div>
								</a>
							</article>
							<article class="article article--s1">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s1-thumb-2.png')"></div>
									</div>
									<div class="article-info">
										<h6>National Smart Card Based Driver’s Licence</h6>
										<p>National Smart Card Based Driver’s Licence Project was implemented as a BOT contract for
											Department
											of
											Motor Traffic under Ministry…</p>
									</div>
								</a>
							</article>
							<article class="article article--s1">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s1-thumb-3.png')"></div>
									</div>
									<div class="article-info">
										<h6>Colombo City CCTV Surveillance Solution</h6>
										<p>Colombo City CCTV Surveillance Solution for SL Police under Ministry of Defense, Supply…</p>
									</div>
								</a>
							</article>
						</div>
					</div>
				</div>
				<div class="s-milestone__col">
					<div class="s-milestone__insight">
						<h2>Insights</h2>
						<div class="s-milestone__nspace"></div>
						<div class="s-milestone__insight-articles">
							<article class="article article--s2">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s2-thumb-1.png')"></div>
									</div>
									<div class="article-info">
										<p class="date">May 27, 2020</p>
										<p>Acer Sri Lanka Predator League 2020 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
											do
											eiusmod tempor incididunt ut labore.</p>
									</div>
								</a>
							</article>
							<article class="article article--s2">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s2-thumb-2.png')"></div>
									</div>
									<div class="article-info">
										<p class="date">May 27, 2020</p>
										<p>Metropolitan Holdings New Year Celebration Lorem ipsum dolor sit amet, consectetur adipiscing
											elit,
											sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</a>
							</article>
							<article class="article article--s2">
								<a href="#">
									<div class="article-thumb">
										<div class="article-thumb__img"
												 style="background-image: url('{{ baseUrl }}/assets/images/home/milestone-s2-thumb-3.png')"></div>
									</div>
									<div class="article-info">
										<p class="date">May 27, 2020</p>
										<p>The Grand Re-launch Of M Center Colombo 03 Lorem ipsum dolor sit amet, consectetur adipiscing
											elit,
											sed do eiusmod tempor incididunt ut labore.</p>
									</div>
								</a>
							</article>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec s-cooperate"
					 style="background-image: url('{{ baseUrl }}/assets/images/home/social-responsibility-bg.jpg')">
		<div class="container-fluid">
			<div class="row">
				<div class="offset-xl-1 col-xl-10">
					<div class="s-cooperate__block">
						<div class="s-cooperate__img">
							<img src="{{ baseUrl }}/assets/images/home/social-responsibility-img.png" alt="">
						</div>
						<div class="s-cooperate__desc">
							<h2>Corporate Social Responsibility</h2>
							<p>At Metropolitan, our commitment to nature and society is more than a promise. It’s action.</p>
							<a href="#">LEARN MORE <i class="fa fa-arrow-right"></i></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="sec s-lets-talk">
		<div class="container-fluid">
			<div class="seg-15">
				<div class="row">
					<div class="offset-xl-1 col-xl-10">
						<div class="row">
							<div class="col-lg-3">
								<div class="s-lets-talk__title">
									<h2>LETS TALK</h2>
									<p>How can we help you?</p>
								</div>
							</div>
							<div class="col-lg-9">
								<form action="#" class="o-form">
									<div class="o-form__row">
										<div class="o-form__col">
											<label>Full Name*</label>
											<input type="text" name="full-name" placeholder="Write your name" required>
										</div>
										<div class="o-form__col">
											<label>Company</label>
											<input type="text" name="company" placeholder="Your company name">
										</div>
									</div>
									<div class="o-form__row">
										<div class="o-form__col">
											<label>Your email*</label>
											<input type="email" name="email" placeholder="Write your email">
										</div>
										<div class="o-form__col">
											<label>Phone</label>
											<input type="text" name="phone" placeholder="Write your phone">
										</div>
									</div>
									<div class="o-form__row">
										<div class="o-form__col">
											<label>Objective*</label>
											<select name="objective" required>
												<option disabled selected value>Select the purpose of your message</option>
												<option>Option 1</option>
												<option>Option 2</option>
												<option>Option 3</option>
											</select>
										</div>
									</div>
									<div class="o-form__row">
										<div class="o-form__col">
											<label>Message</label>
											<textarea name="message" placeholder="Write your message"></textarea>
										</div>
									</div>
									<div class="o-form__pad">
										<button type="submit">Send Message <i class="fa fa-arrow-right"></i></button>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="s-lets-talk__block">
				<div class="s-lets-talk__info">
					<div class="s-lets-talk__info-item">
						<div class="icon">
							<img src="{{ baseUrl }}/assets/images/home/icon-talk-phone.png" alt="">
						</div>
						<div class="s-lets-talk__info-label">Call us on</div>
						<a href="#">+94 114 700200</a>
					</div>
					<div class="s-lets-talk__info-item">
						<div class="icon">
							<img src="{{ baseUrl }}/assets/images/home/icon-talk-email.png" alt="">
						</div>
						<div class="s-lets-talk__info-label">Email</div>
						<a href="mailto:metroweb@metropolitan.lk">metroweb@metropolitan.lk</a>
					</div>
					<div class="s-lets-talk__info-item">
						<div class="icon">
							<img src="{{ baseUrl }}/assets/images/home/icon-talk-location.png" alt="">
						</div>
						<div class="s-lets-talk__info-label">Locate us</div>
						<p>Head Office<br/>
							No 85, Braybrooke Place,<br/>
							Colombo 02, Sri Lanka</p>
					</div>
					<div class="s-lets-talk__info-item">
						<div class="icon">
							<img src="{{ baseUrl }}/assets/images/home/icon-talk-calendar.png" alt="">
						</div>
						<div class="s-lets-talk__info-label">Working Hours</div>
						<p>Monday-Friday<br/>
							8:30am to 5:00pm</p>
					</div>
				</div>
				<div class="s-lets-talk__tiles">
					<div class="s-lets-talk__tiles-item">
						<a href="#">
							<div class="s-lets-talk__tiles-overlay"></div>
							<div class="s-lets-talk__tiles-img"
									 style="background-image: url('{{ baseUrl }}/assets/images/home/talk-tile-1.jpg')"></div>
							<p>Showrooms</p>
						</a>
					</div>
					<div class="s-lets-talk__tiles-item">
						<a href="#">
							<div class="s-lets-talk__tiles-overlay"></div>
							<div class="s-lets-talk__tiles-img"
									 style="background-image: url('{{ baseUrl }}/assets/images/home/talk-tile-2.jpg')"></div>
							<p>Service Centers</p>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock %}
