.article {
	a {
		&:hover {
			text-decoration: none;

			h6 {
				text-decoration: underline;
			}
		}
	}

	h6 {
		font-size: 18px;
		color: $theme-color;
		line-height: 24px;
	}

	p {
		font-size: 15px;
		color: #515258;
		line-height: 28px;
	}

	&--s1 {
		padding: 20px;

		.article-thumb {
			margin-bottom: 15px;

			&__img {
				padding-top: 63.5%;
				background-size: cover;
				background-position: center center;
				background-color: #f2f2f2;
			}
		}
	}

	&--s2 {
		margin-bottom: 20px;

		&:last-of-type {
			margin-bottom: 0;
		}

		a,
		.article-wrap {
			display: flex;
			flex-flow: row wrap;
		}

		.article-thumb {
			width: 180px;
			max-width: 35%;
			margin-right: 20px;

			&__img {
				padding-top: 66%;
				background-color: #f2f2f2;
				min-height: 100px;
				background-position: center center;
				background-size: cover;
			}
		}

		.article-info {
			flex: 1;
			padding-top: 5px;
			max-width: 500px;
			min-width: 225px;
		}

		.date {
			font-size: rem(14px);
			color: #909090;
			line-height: rem(18px);
			margin-bottom: 8px;
		}

		p {
			font-size: rem(16px);
			color: #004A97;
			line-height: 1.4;
			margin-bottom: 0;
		}

		@include respond-from($device-lg, none) {}
	}
}
