<div class="l-links">
	<div class="l-links__item {% if activeTab === 'overview' %}active{% endif %}">
		<a href="{{ baseUrl }}/about/">OVERVIEW</a>
	</div>
	<div class="l-links__item {% if activeTab === 'group' %}active{% endif %}">
		<a href="{{ baseUrl }}/about/group-structure.html">GROUP STRUCTURE</a>
	</div>
	<div class="l-links__item {% if activeTab === 'history' %}active{% endif %}">
		<a href="#">HISTORY</a>
	</div>
	<div class="l-links__item {% if activeTab === 'directors' %}active{% endif %}">
		<a href="#">DIRECTORS</a>
	</div>
	<div class="l-links__item {% if activeTab === 'branch' %}active{% endif %}">
		<a href="#">BRANCH NETWORK</a>
	</div>
	<div class="l-links__item {% if activeTab === 'certifications' %}active{% endif %}">
		<a href="#">CERTIFICATIONS</a>
	</div>
</div>
