<footer class="sec footer">
	<div class="container-fluid">
		<div class="footer-nav">
			<ul class="footer-nav__left">
				<li class="footer-nav__left-title">
					Stay Social
				</li>
				<li>
					<a href="#"><i class="fa fa-facebook"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-instagram"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-youtube-play"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-twitter"></i></a>
				</li>
				<li>
					<a href="#"><i class="fa fa-linkedin"></i></a>
				</li>
			</ul>
			<ul class="footer-nav__right">
				<li>
					<a href="#">TERMS &AMP; CONDITIONS</a>
				</li>
				<li>
					<a href="#">PRIVACY POLICY</a>
				</li>
			</ul>
		</div>
		<div class="footer__rights">
			<ul>
				<li>
					© 2020 Metropolitan Group of Companies
				</li>
				<li>
					Design and Development by <a href="https://saberion.com">SABERION</a>
				</li>
			</ul>
		</div>
	</div>
</footer>
