<nav class="navbar navbar-expand-lg bg-dark">
		<div class="container-fluid">
			<a class="navbar-brand" href="{{ baseUrl }}/">
				<img src="{{ baseUrl }}/assets/images/logo.png" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
							aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse ml-auto" id="navbarSupportedContent">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="/about">About us</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">The group</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Sectors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Products</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Services</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Media</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">CSR</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Careers</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#"><span class="sr-only">Search </span><i class="fa fa-search"></i></a>
					</li>
				</ul>
			</div>
		</div>
</nav>
