<div class="outline"></div>
<div class="stay-social">
	<ul>
		<li class="stay-social__rotate">Stay Social</li>
		<li>
			<a href="#"><i class="fa fa-youtube-play"></i></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-linkedin-square"></i></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-twitter-square"></i></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-instagram"></i></a>
		</li>
		<li>
			<a href="#"><i class="fa fa-facebook-square"></i></a>
		</li>
	</ul>
</div>
