@import "../mixing";

.s-ab-overview {
	padding-top: 0;
	padding-bottom: 0;
	overflow: hidden;

	&__ov {
		font-size: rem(18px);

		&-desc {
			padding-top: 50px;
			padding-bottom: 50px;
			color: #515258;
			line-height: 1.6;
		}

		&-img {
			padding-top: 110%;
			background-position: center center;
			background-size: cover;
			margin-top: -50px;
			margin-bottom: 50px;
		}
	}

	&__vision {
		font-size: rem(18px);
		display: flex;
		flex-flow: row wrap;
		line-height: 1.5;

		h3 {
			color: #fff;
		}

		h6 {
			font-size: rem(12px);
			color: #909090;
			line-height: rem(16px);
		}

		&-img {
			flex: 1;
			background-size: cover;
			background-position: center center;
		}

		&-text {
			@extend %container-padding;
			padding-top: 60px;
			padding-bottom: 60px;
			background: rgb(0, 74, 151);
			background: linear-gradient(315deg, rgba(0, 74, 151, 1) 0%, rgba(80, 6, 124, 1) 100%);
			flex: 2;
			color: #fff;
		}

		.facts {
			border-top: 1px solid $outline-color;
			padding-top: 15px;

			ul {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
				list-style: none;
				margin-left: 0;
			}

			&__item {
				max-width: 170px;
				padding-right: 15px;
				color: #FFFFFF;
				margin-bottom: 20px;
			}

			&__number {
				font-size: rem(34px);
				margin-bottom: 8px;
			}
		}
	}

	@include respond-from(none, $device-sm) {
		&__vision {
			&-img {
				display: none;
			}
		}
	}

	@include respond-from($device-sm, none) {
		&__ov {
			&-img {
				padding-top: 60%;
			}
		}
	}

	@include respond-from($device-md, none) {
		&__ov {
			font-size: rem(22px);

			&-img {
				padding-top: 0;
				position: absolute;
				width: 50vw;
				top: 0;
				margin: 0;
				bottom: -100px;
			}
		}

		&__vision {
			font-size: rem(22px);

			.vision {
				width: calc(38% + 10px);
			}
		}
	}
}

.s-ab-values {
	background-color: #05141D;
	color: #fff;
	text-align: center;

	h2,
	h3 {
		color: #FFFFFF;
	}

	&__grid {
		display: flex;
		flex-flow: row wrap;
		background: linear-gradient(180deg, #142633 0%, #0A1C28 100%);
		margin: 0 -1px;

		&-item {
			padding: 30px;
			border: 1px solid #05141D;
		}
	}

	@include respond-from($device-sm, none) {
		h3 {
			min-height: rem(56);
		}

		&__grid {
			&-item {
				width: 50%;
				padding: 70px 50px 60px;
			}
		}
	}

	@include respond-from($device-lg, none) {
		&__grid {
			&-item {
				width: 33.33%;
				padding: 70px 50px 60px;
			}
		}
	}
}

.group-structure {
	padding: 0;

	&__grid {
		min-height: 500px;

		>div {
			position: relative;
		}
	}

	&__thumb {
		z-index: -2;
		background-size: cover;
		background-position: center center;

		&,
		&:after {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}

		&:after {
			content: '';
			background: linear-gradient(0deg, #202330b3, #20233000);
			z-index: -1;
		}
	}

	&__box-content {
		display: flex;
		flex-flow: column;
		align-items: flex-start;
		justify-content: flex-end;
		width: 100%;
		height: 100%;
		padding: 50px 15px 25px;
		min-height: 200px;

		@include respond-from($device-xs, none) {
			padding: 30px 30px 25px;
			min-height: none;
		}
	}

	&__box {
		color: #fff;

		h1,
		h2,
		h3 {
			color: inherit;
		}

		h2,
		h3,
		p {
			margin-bottom: 10px;
		}
	}

	@media (min-width: $device-xs) {
		&__grid {
			display: grid;
			grid-template-columns: repeat(8, 1fr);
			grid-template-rows: repeat(21, 1fr);
			grid-gap: 2px;
		}

		&__box {
			&:nth-of-type(1) {
				grid-area: 1 / 1 / 5 / 5;
			}

			&:nth-of-type(2) {
				grid-area: 1 / 5 / 5 / 9;
			}

			&:nth-of-type(3) {
				grid-area: 5 / 1 / 8 / 6;
			}

			&:nth-of-type(4) {
				grid-area: 5 / 6 / 11 / 9;
			}

			&:nth-of-type(5) {
				grid-area: 11 / 1 / 15 / 4;
			}

			&:nth-of-type(6) {
				grid-area: 8 / 1 / 11 / 6;
			}

			&:nth-of-type(7) {
				grid-area: 11 / 4 / 15 / 9;
			}

			&:nth-of-type(8) {
				grid-area: 15 / 1 / 18 / 5;
			}

			&:nth-of-type(9) {
				grid-area: 15 / 5 / 18 / 9;
			}

			&:nth-of-type(10) {
				grid-area: 18 / 1 / 23 / 6;
			}

			&:nth-of-type(11) {
				grid-area: 18 / 6 / 23 / 9;
			}
		}
	}

	@media (min-width: $device-sm) {
		&__grid {
			grid-template-rows: repeat(15, 1fr);
			grid-gap: 3px;
		}

		&__box {
			&:nth-of-type(1) {
				grid-area: 1 / 1 / 4 / 5;

				>div {
					padding-left: $outline-pad-md;
				}
			}

			&:nth-of-type(2) {
				grid-area: 1 / 5 / 4 / 9;

				>div {
					padding-right: $outline-pad-md;
				}
			}

			&:nth-of-type(3) {
				grid-area: 4 / 1 / 7 / 7;

				>div {
					padding-left: $outline-pad-md;
				}
			}

			&:nth-of-type(4) {
				grid-area: 4 / 7 / 10 / 9;

				>div {
					padding-right: $outline-pad-md;
				}
			}

			&:nth-of-type(5) {
				grid-area: 7 / 1 / 13 / 3;

				>div {
					padding-left: $outline-pad-md;
				}
			}

			&:nth-of-type(6) {
				grid-area: 7 / 3 / 10 / 7;
			}

			&:nth-of-type(7) {
				grid-area: 10 / 3 / 16 / 5;
			}

			&:nth-of-type(8) {
				grid-area: 10 / 5 / 13 / 7;
			}

			&:nth-of-type(9) {
				grid-area: 10 / 7 / 13 / 9;

				>div {
					padding-right: $outline-pad-md;
				}
			}

			&:nth-of-type(10) {
				grid-area: 13 / 5 / 16 / 9;

				>div {
					padding-right: $outline-pad-md;
				}
			}

			&:nth-of-type(11) {
				grid-area: 13 / 1 / 16 / 3;

				>div {
					padding-left: $outline-pad-md;
				}
			}
		}
	}

	@media (min-width: $device-md) {
		&__box {
			&:nth-of-type(1) {
				>div {
					padding-left: $outline-pad;
				}
			}

			&:nth-of-type(3) {
				>div {
					padding-left: $outline-pad;
				}
			}

			&:nth-of-type(4) {
				>div {
					padding-right: $outline-pad;
				}
			}

			&:nth-of-type(5) {
				>div {
					padding-left: $outline-pad;
				}
			}

			&:nth-of-type(11) {
				>div {
					padding-left: $outline-pad;
					padding-right: $outline-pad;
				}
			}
		}
	}

	@media (min-width: $device-lg) {
		&__grid {
			grid-template-rows: repeat(6, 1fr);
			grid-template-columns: repeat(12, 1fr);
			grid-gap: 5px;
		}

		&__box {
			&:nth-of-type(1) {
				grid-area: 1 / 1 / 3 / 4;
			}

			&:nth-of-type(2) {
				grid-area: 1 / 4 / 3 / 7;
			}

			&:nth-of-type(3) {
				grid-area: 1 / 7 / 3 / 11;

				>div {
					padding-left: 30px;
				}
			}

			&:nth-of-type(4) {
				grid-area: 1 / 11 / 5 / 13;
			}

			&:nth-of-type(5) {
				grid-area: 3 / 1 / 7 / 3;
			}

			&:nth-of-type(6) {
				grid-area: 3 / 3 / 5 / 6;
			}

			&:nth-of-type(7) {
				grid-area: 3 / 6 / 7 / 8;
			}

			&:nth-of-type(8) {
				grid-area: 3 / 8 / 5 / 11;
			}

			&:nth-of-type(9) {
				grid-area: 5 / 3 / 7 / 6;
			}

			&:nth-of-type(10) {
				grid-area: 5 / 8 / 7 / 10;
			}

			&:nth-of-type(11) {
				grid-area: 5 / 10 / 7 / 13;

				>div {
					padding-left: 30px;
				}
			}
		}
	}
}
