@import "../mixing";

.s-deliver-technology {
	padding: 0;

	&__text-box {
		padding: 70px 15px;
		max-width: 540px;
		margin: 0 auto;
	}

	&__links {
		position: absolute;
		display: flex;
		align-items: flex-end;
		top: 0;
		left: 0;
		bottom: 100px;
		padding-bottom: rem(108px);
		padding-left: rem(55px);
		padding-right: rem(55px);
		width: rem(175px*2);
		background: rgba(0, 74, 151, 0.95);
		background: linear-gradient(180deg, rgba(0, 74, 151, 0.95) 0%, rgba(8, 12, 125, 0.95) 100%);
		font-size: rem(14px);

		ul {
			list-style: none;
			margin-left: 0;
			width: 100%;

			li {
				position: relative;

				a {
					display: block;
					color: #fff;
					line-height: rem(40px);

					&:hover {
						i {
							display: inline-block;
						}
					}
				}

				i {
					display: none;
					position: absolute;
					right: 0;
					top: rem(14px);
				}

				margin-bottom: 10px;
			}
		}
	}

	&__img {
		margin-left: rem(175px);
		background-size: cover;
		background-position: center center;
		height: 100%;

		&-box {
			height: 100%;
		}

		img {
			width: 100%;
		}
	}

	@include respond-from($device-sm, $device-lg) {
		&__img {
			margin-left: rem(85px);
		}
	}
	@include respond-from(none, $device-md) {
		&__text-box {
			padding-bottom: 35px;
		}
		&__links {
			position: relative;
			padding-top: 50px;
			max-width: 90%;
		}
		&__img {
			position: absolute;
			top: 0;
			left: 0;
			right: 15px;
			z-index: -1;
		}
	}

}

.s-sectors {
	$border-color: rgba(#979797, 0.5);

	padding: 0;
	background-position: center center;
	background-size: cover;

	h1 {
		text-align: center;
		margin-bottom: 0;
		color: #fff;
	}

	&__title {
		padding: 25px 0;
		border-bottom: 1px solid $outline-color;
	}

	&__wrap {
		position: relative;
		overflow: hidden;
	}

	&__grid {
		color: #fff;
		margin-right: -1px;
		overflow: hidden;
	}

	&__item {
		position: relative;
		padding-top: 100%;
		//margin-right: -1px;
		//border-left: 1px solid $outline-color;
		//border-right: 1px solid $outline-color;
		//border-bottom: 1px solid $outline-color;
		z-index: 1;
		overflow: hidden;


		&-head {
			font-size: rem(24px);
			font-weight: 300;
		}

		&-wrap {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			padding: 10px;
			display: flex;
			flex-flow: column nowrap;
			align-items: center;
			justify-content: center;
			text-align: center;
			overflow: hidden;

			&:before, &:after {
				content: '';
				position: absolute;
				right: 0;
				background-color: $outline-color;
				z-index: 5;
			}

			&:before {
				width: 1px;
				top: 0;
				bottom: 0;
			}

			&:after {
				height: 1px;
				left: 0;
				right: 0;
				bottom: 0;
			}
		}

		&-info {
			height: 40px;
			overflow: hidden;
			transition: all 0.3s ease-in;
		}

		&-desc {
			transform: translate(0, 20px);
			transition: all 0.3s ease-in;
		}

		&-bg {
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
			z-index: -1;
			transform: translate(-100%, -100%);
			@extend %gradient-blue;
		}

		&.in-top {
			.s-sectors__item-bg {
				animation: in-top 300ms ease 0ms 1 forwards;
			}
		}

		&.in-bottom {
			.s-sectors__item-bg {
				animation: in-bottom 300ms ease 0ms 1 forwards;
			}
		}

		&.in-right {
			.s-sectors__item-bg {
				animation: in-right 300ms ease 0ms 1 forwards;
			}
		}

		&.in-left {
			.s-sectors__item-bg {
				animation: in-left 300ms ease 0ms 1 forwards;
			}
		}

		&.out-top {
			.s-sectors__item-bg {
				animation: out-top 300ms ease 0ms 1 forwards;
			}
		}

		&.out-bottom {
			.s-sectors__item-bg {
				animation: out-bottom 300ms ease 0ms 1 forwards;
			}
		}

		&.out-right {
			.s-sectors__item-bg {
				animation: out-right 300ms ease 0ms 1 forwards;
			}
		}

		&.out-left {
			.s-sectors__item-bg {
				animation: out-left 300ms ease 0ms 1 forwards;
			}
		}

		&:hover {
			.s-sectors__item-info {
				height: 120px;
				opacity: 1;
			}

			.s-sectors__item-desc {
				transform: translate(0, 0);
			}
		}
	}

	@include respond-from($device-xs, $device-sm) {
		&__grid {
			grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
		}
	}
	@include respond-from($device-xs, none) {
		&__grid {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
	}
}

.s-our-brands {
	.item {
		text-align: center;

		img {
			width: auto;
			max-width: 100%;
			margin: 0 auto;
		}
	}
}

.s-propositions {
	padding-bottom: 0;
	color: #fff;
	@extend %gradient-blue;

	h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}

	&__header {
		text-align: center;
		padding-bottom: 15px;
		border-bottom: 1px solid $outline-color;
	}

	&__col {
		display: flex;
		flex-flow: column;
		padding: rem(45px);
		border-right: 1px solid $outline-color;

		&:last-of-type {
			border-right: 0;
		}
	}

	&__list {
		display: flex;
		flex-flow: row wrap;
		align-items: center;
		text-align: center;
		justify-self: flex-end;
		list-style: none;
		margin: auto 0 0;
		padding-top: 40px;

		li {
			flex: 1;
			min-width: 100px;
			padding: 0 5px;
		}

		&-img {
			text-align: center;
			margin-bottom: 15px;
		}
	}
}

.s-milestone {

	h2 {
		margin-left: 20px;
	}

	&__slider {
		display: flex;
		flex-flow: column;
		margin-left: -1px;
		margin-right: -1px;

		&-nav {
			display: flex;
			margin-left: 0;
			list-style: none;
			justify-content: flex-end;
			margin-bottom: -1px;

			a {
				display: block;
				font-size: rem(13px);
				color: #6D7177;
				line-height: rem(40px);
				height: rem(40px);
				padding: 0 15px;
			}

			i {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				width: rem(40px);
				height: rem(40px);
				border: 1px solid $outline-color;
				color: #D8D8D8;
			}

			li {

			}
		}

		&, .owl-carousel, .owl-stage-outer, .owl-stage, .owl-item, .article--s1 {
			height: 100%;
		}

		.owl-carousel {
			border-left: 1px solid $outline-color;
			border-top: 1px solid $outline-color;
		}

		.article--s1 {
			border-right: 1px solid $outline-color;
			border-bottom: 1px solid $outline-color;

			.article-info {
				min-height: 200px;
			}
		}
	}

	&__nspace {
		height: 20px;
	}

	&__insight {
		margin-top: 40px;

		&-articles {
			padding: 20px;
			border-top: 1px solid $outline-color;
			border-bottom: 1px solid $outline-color;
		}
	}

	@include respond-from($device-sm, none) {
		&__slider {
			margin-left: 0;
			margin-right: 0;
		}
	}
	@include respond-from($device-lg, none) {
		&__row {
			display: flex;
			flex-flow: row wrap;
		}
		&__col {
			padding: 0;

			&:first-of-type {
				width: 60%;
			}

			&:last-of-type {
				width: 40%;
			}
		}
		&__nspace {
			height: rem(40px);
			margin-bottom: -1px;
		}
		&__insight {
			margin-top: 0;

			&-articles {
				margin-left: -1px;
				border: 1px solid $outline-color;
			}
		}
	}
}

.s-cooperate {
	background-size: cover;
	background-position: center center;

	&__block {
		//max-width: 1060px;
		//margin: 0 auto;
		color: #fff;

		h2 {
			color: #fff;
		}

		a {
			color: #fff;
		}

		> div {
			padding: 0 15px;
		}
	}

	&__img {
		margin-bottom: 20px;

		img {
			max-width: 80%;
			margin: 0 auto;
			display: block;
		}
	}

	@include respond-from($device-xs, none) {
		&__block {
			display: flex;
			align-items: center;
			justify-content: center;
		}
		&__img {
			img {
				max-width: 100%;
			}
		}
	}
	@include respond-from($device-sm, none) {
		&__img {
			margin-right: rem(30px);
		}

	}
	@include respond-from($device-md, none) {
		&__img {
			margin-right: rem(70px);
		}

	}
}

.s-lets-talk {
	@extend %gradient-blue;
	color: #fff;
	padding-bottom: 0;

	h2 {
		color: #fff;
	}
	a{
		color: #fff;
	}

	&__block{
		display: flex;
		flex-flow: column;
		> div{
			flex: 1;
		}
	}

	&__info{
		border-top: 1px solid $outline-color;
		&-item{
			display: flex;
			align-items: center;
			text-align: center;
			justify-content: center;
			flex-flow: column;
			min-width: 220px;
			min-height: 220px;
			padding: 30px 15px;
			border-bottom: 1px solid $outline-color;
		}
		&-label{
			font-size: rem(18px);
			margin-bottom: 15px;
		}
		p{
			font-size: rem(15px);
			line-height: rem(22px);
			min-height: rem(66px);
			margin-bottom: 0;
		}
	}

	&__tiles{
		display: flex;
		flex-flow: row wrap;
		border: 1px solid $outline-color;
		a{
			&:hover{
				.s-lets-talk__tiles-img{
					transform: scale(1.1, 1.1);
					transition: all 1s ease-in;
				}
			}
		}
		p{
			margin-bottom: 0;
		}
		&-item{
			position: relative;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 300px;
			min-width: 220px;
			flex: 1;
			z-index: 1;
		}
		&-overlay, &-img{
			position: absolute;
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
		}
		&-overlay{
			opacity: 0.3;
			background-color: #333;
			z-index: -1;
		}
		&-img{
			z-index: -2;
			background-size: cover;
			background-position: center center;
			transition: all 0.5s ease-out;
		}
	}

	@include respond-from($device-xs, none) {
		&__block{
			overflow: hidden;
		}
		&__info{
			display: flex;
			flex-flow: row wrap;
			&-item{
				flex: 1 0 50%;
				margin-right: -1px;
				border-right: 1px solid $outline-color;
			}
		}
	}
	@include respond-from($device-md, none) {
		&__block{
			flex-flow: row wrap;
		}
		&__title {
			float: right;
		}
	}
	@include respond-from($device-lg, none) {
		&__tiles {
			flex-flow: row wrap;
		}
	}
}

